.align {
  &\:vertical {
    &\:baseline {
      vertical-align: baseline;
    }

    &\:bottom {
      vertical-align: bottom;
    }

    &\:inherit {
      vertical-align: inherit;
    }

    &\:middle {
      vertical-align: middle;
    }

    &\:sub {
      vertical-align: sub;
    }

    &\:super {
      vertical-align: super;
    }

    &\:text-bottom {
      vertical-align: text-bottom;
    }

    &\:text-top {
      vertical-align: text-top;
    }

    &\:top {
      vertical-align: top;
    }

    &\:unset {
      vertical-align: unset;
    }
  }
  &\:self {
    &\:auto {
      align-self: auto;
    }
    &\:start {
      align-self: flex-start;
    }
    &\:center {
      align-self: center;
    }
    &\:end {
      align-self: flex-end;
    }
    &\:stretch {
      align-self: stretch;
    }
  }
}

.justify {
  &\:start {
    justify-content: flex-start;
  }

  &\:center {
    justify-content: center;
  }

  &\:end {
    justify-content: flex-end;
  }

  &\:between {
    justify-content: space-between;
  }

  &\:around {
    justify-content: space-around;
  }
}
