.block {
  display: block;
}

.hidden	{
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
  &.row {
    display: table-row;
  }
  &.cell {
    display: table-cell;
  }
}
