#increment(flex);

.flex {
  display: flex;
  &\:initial {
    flex: initial;
  }
  &\:auto {
    flex: auto;
  }
  &\:none {
    flex: none;
  }
  &\:grow {
    #increment(flex-grow, true);
  }
  &\:shrink {
    #increment(flex-shrink, true);
  }
  &\:no-grow {
    flex-grow: 0;
  }
  &\:no-shrink {
    flex-shrink: 0;
  }
  &\:direction {
    &\:row {
      flex-direction: row;
      &\:reverse {
        flex-direction: row-reverse;
      }
    }
    &\:column {
      flex-direction: column;
      &\:reverse {
        flex-direction: column-reverse;
      }
    }
  }
  &\:wrap {
    flex-wrap: wrap;
    &\:reverse {
      flex-wrap: wrap-reverse;
    }
  }
}

// [class^="flex:"] {
//   &:extend(.flex);
// }
