.mar {
  margin: @margin;
}

.mar-top {
  margin-top: @margin;
}

.mar-lef {
  margin-left: @margin;
}

.mar-rig {
  margin-right: @margin;
}

.mar-bot {
  margin-bottom: @margin;
}

.mar-y {
  margin: @margin 0;
}

.mar-x {
  margin: 0 @margin;
}
