.pad {
  padding: @padding;
  .generate(padding);
}

.pad-top {
  padding-top: @padding;
  .generate(padding-top);
}

.pad-lef {
  padding-left: @padding;
  .generate(padding-left);
}

.pad-rig {
  padding-right: @padding;
  .generate(padding-right);
}

.pad-bot {
  padding-bottom: @padding;
  .generate(padding-bottom);
}

.pad-y {
  padding: @padding 0;
  .generate(padding, 0);
}

.pad-x {
  padding: 0 @padding;
  .generate(padding, undef, 0);
}
