.pad {
  padding: @padding;
  .space(padding);
}

.pad-top {
  padding-top: @padding;
  .space(padding-top);
}

.pad-lef {
  padding-left: @padding;
  .space(padding-left);
}

.pad-rig {
  padding-right: @padding;
  .space(padding-right);
}

.pad-bot {
  padding-bottom: @padding;
  .space(padding-bottom);
}

.pad-y {
  padding: @padding 0;
  .space(padding, 0);
}

.pad-x {
  padding: 0 @padding;
  .space(padding, undef, 0);
}
