.padding {
  padding: @padding;
  #space(padding);

  &\:auto {
    padding: 0 auto;
  }

  &\:top {
    padding-top: @padding;
    #space(padding-top);
  }

  &\:left {
    padding-left: @padding;
    #space(padding-left);
  }

  &\:right {
    padding-right: @padding;
    #space(padding-right);
  }

  &\:bottom {
    padding-bottom: @padding;
    #space(padding-bottom);
  }

  &\:y {
    #space(padding-top, undef, undef);
  }

  &\:y {
    #space(padding-bottom, undef, undef);
  }

  &\:x {
    #space(padding-right, undef, undef);
  }

  &\:x {
    #space(padding-left, undef, undef);
  }
}
