.position {
  &\:static {
    position: static;
  }

  &\:fixed {
    position: fixed;
  }

  &\:absolute {
    position: absolute;
  }

  &\:relative {
    position: relative;
  }
  
  &\:sticky {
    position: sticky;
  }
}




.top {
  top: 0;
  #space(top);
}

.right {
  right: 0;
  #space(right);
}

.bottom {
  bottom: 0;
  #space(bottom);
}

.left {
  left: 0;
  #space(left);
}

.self {
  margin: 0 auto;
  &\:center {
    right: 0;
    left: 0;
  }

  &\:central {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:\auto {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

