.width {
  & {
    #value(width, px);
  }
  &\:100\% {
    width: 100%;
  }
  &\:100vh {
    width: 100vh;
  }
}

.height {
  & {
    #value(height, px);
  }
  &\:100\% {
    height: 100%;
  }
  &\:100vh {
    height: 100vh;
  }
}

.min-width {
  & {
    #value(min-width, px);
  }
}

// .size(min-width, min-width);
// .size(min-height, min-height);
// .size(top, top);
// .size(right, right);
// .size(bottom, bottom);
// .size(left, left);
