.text {
  &\:center {
    text-align: center
  }

  &\:left {
    text-align: left;
  }

  &\:right {
    text-align: right;
  }

  &\:justify {
    text-align: justify;
  }
}

.self-center {
  margin: 0 auto;
  right: 0;
  left: 0;
}
