.text {
  &\:center {
    text-align: center
  }

  &\:left {
    text-align: left;
  }

  &\:right {
    text-align: right;
  }

  &\:justify {
    text-align: justify;
  }

  &:\:top {
    vertical-align: top;
  }
}

.transform {
  &\:uppercase {
    text-transform: uppercase;
  }

  &\:capitalize {
    text-transform: capitalize;
  }

  &\:lowercase {
    text-transform: lowercase;
  }

  &\:inherit {
    text-transform: inherit;
  }

  &\:initial {
    text-transform: initial;
  }

  &\:none {
    text-transform: none;
  }

  &\:unset {
    text-transform: unset;
  }
}

.self-center {
  margin: 0 auto;
  right: 0;
  left: 0;
}
